@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
 --primaryColor:#4E3B31 ;
 --secondaryColor:#A18167;
 --lightColor: #F2E6D5 ;
 --bgColor-1: #C0B2A1 ;
 --padding:8%;
 --border: 0.1rem solid rgba(255,255,255,0.3);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: 0.2s linear;
    outline: none; 
}
html{
    overflow-x: hidden; /* أي محتوى يخرج أفقيًا خارج حدود العنصر مش هيظهر */
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 5rem;
}

body{
    background: var(--bgColor-1);
}
header{
    width: 100%;
    position: fixed;
    top:0; left: 0; right: 0; /*(الهيدر هيكون في أعلى الصفحة ويمتد على كامل عرض الصفحة (من اليسار لليمين*/
    z-index: 1000; /* ترتيب العناصر التي تظهر فوق بعضها البعض على الصفحة.*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: var(--border);
}

.logo img{
    height: 6rem;
}
.navbar a{
    text-decoration: none;
    margin: 0 1rem;
    color:var(--secondaryColor);
    font-weight: 500;
    font-size: 1.6rem; 
}

.navbar a:hover {
    color: var(--primaryColor);
    border-bottom: 0.2rem solid var(--primaryColor);
    padding-bottom: 0.5rem;
}

.icons div{
    color: var(--secondaryColor);
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.icons div:hover{
    color: var(--primaryColor);
}

#menu-btn{
    /* display: none; */
}

.search-form{
    position: absolute;
    top:115%;right: 7%;
    width: 30rem;  
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0) ;
    transform-origin:top ;
}

.search-form input{
    height: 100%;
    width: 100%;
    font-size:1.3rem ;
    color: black;
    padding:1rem;
    text-transform: none;
    padding-left: 4rem;
    

    border: 1px solid white;
    border-radius: 5rem;
    background: white;
    outline: none; /*تلغي الإطار الخارجي الافتراض*/
    box-shadow: none;/*تلغي أي ظل خارجي ممكن يكون مضاف تلقائيًا*/
    appearance: none;/*ما تستخدمش التنسيقات الافتراضية بتاعت العنصر ده*/
}

.search-form label{
    position: absolute; /*دخلت ايقون السيرش جوا البوكس*/
    left: 1.5rem; 
    cursor: pointer;
    font-size:1.6rem ;
    margin-right: 1rem;
    color:rgba(0, 0, 0, 0.411) ;
}

.search-form label:hover{
 color: var(--primaryColor);
}

